* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
}

body {
    font-family: roboto, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5rem;

    li {
        font-family: Montserrat, sans-serif;
        ;
    }

    img {
        height: 3rem;
    }

}



nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 3em;


    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: #ff0000;
    }

}

.hero {
    background-color: #ffdc04;
    text-align: center;
    height: 80vh;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* line-height: 4rem; */

    h1 {
        font-size: 4em;
        font-weight: bolder;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        padding-top: 3em;
        padding-bottom: 3em;
    }

    a {
        background-color: #ff0000;
        color: #ffffff;
        padding: 5px 85px;
        border-radius: 10px;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
    }
}

.my-services {
    padding: 0 5em;
    height: 70vh;

    h2 {
        font-size: 2em;
        text-align: center;
        padding: 2em 0;
    }

    .service-wrap {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;

    }

    .service-sub-wrap {
        display: flex;
        align-items: center;
        gap: 1em;

        img {
            max-height: 2em;
        }
    }

    .service {
        padding: 1.6em 0;
    }
}

.about-me {
    background-color: #ffdc04;
    padding: 2em 5em;
    height: 70vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;

    h2 {
        font-size: 2em;
    }

    .rectangle {
        background-color: #ff0000;
        padding: 5px 2px;
        width: 40%;
    }

    p {
        padding-top: 2em;
        padding-bottom: 2em;
    }


    a {
        background-color: #ff0000;
        color: #ffffff;
        padding: 10px 30px;
        border-radius: 10px;
        font-size: 1.5em;
        text-decoration: none;
    }

    .right-part {
        text-align: center;
    }

    img {
        height: 300px;
    }

}

.yt-playlist {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-form {

    background-color: #ffdc04;

    height: 70vh;
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;

    h2 {
        padding-top: 2em;
    }

    form {

        input,
        textarea,
        select {
            background-color: #eef0da;
            border: 0;
            outline: 0;
            padding: 1em;
            display: block;
            width: 100%;
            margin-top: 1em;
            border-radius: 8px;
            resize: none;
        }

        &:focus {
            box-shadow: 0 0px 2px !important;
        }
    }

    #input-submit {
        color: #ffffff;
        background-color: #ff0000;
        cursor: pointer;
    }

    textarea {
        height: 126px;
    }


    .rectangle {
        background-color: #ff0000;
        padding: 5px 2px;
        width: 20vw;
    }
}

footer {
    background-color: #010101;
    height: auto;

    p {
        color: #ffffff;
        text-align: center;
    }
}

.spacer {
    padding-bottom: 2em;
}


@media all and (max-width: 450px) {
    header {
        display: flex;
        justify-content: center;
        padding: 0.6em 0;
    }

    nav ul {
        display: none;
    }

    .hero {

        padding: inherit;

        h1 {
            font-size: 2.3rem;
        }

        p {
            margin: 0 10px;
        }
    }

    .my-services {
        padding: 0 20px;
        height: 70vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .rectangle {
            background-color: #ff0000;
            padding: 5px 2px;
            margin: 0 35%;
        }

        h2 {
            font-size: 2em;
            text-align: center;
            padding: 0 0;
        }

        .service-wrap {
            display: inline;

        }

        .service {
            padding: 1em 0;
        }
    }

    .about-me {
        padding: 0 20px;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;

        h2 {
            font-size: 2em;
        }

        .rectangle {
            background-color: #ff0000;
            padding: 5px 2px;
            width: 40%;
        }

        p {
            padding-top: 2em;
            padding-bottom: 2em;
        }


        a {
            background-color: #ff0000;
            color: #ffffff;
            padding: 10px 30px;
            border-radius: 10px;
            font-size: 1.5em;
            text-decoration: none;
        }

        img {
            display: none;
        }

    }

    .yt-playlist{
        iframe {
           max-width: fit-content;
        }
    }

    .contact-form {

    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;

    h2 {
        padding-top: 2em;
    }

    form {

        input,
        textarea,
        select {
            background-color: #eef0da;
            border: 0;
            outline: 0;
            padding: 1em;
            display: block;
            width: 100%;
            margin-top: 1em;
            border-radius: 8px;
            resize: none;
        }
    }

    #input-submit {
        color: #ffffff;
        background-color: #ff0000;
        cursor: pointer;
    }

    textarea {
        height: 126px;
    }
}


}


@media all and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

}

@media all and (min-width: 768px) and (max-width: 1024px) {

    header {

        nav ul {
            display: flex;
            justify-content: flex-end;
            list-style: none;
            gap: 1em;


            a {
                text-decoration: none;
                color: inherit;
            }

            a:hover {
                color: #ff0000;
            }
        }
    }

    .hero {
        height: 60vh;
    }

    .my-services {
        height: auto;

        .service-wrap {
            padding-bottom: 2em;
        }
    }

    .about-me {
        grid-template-columns: 50% 50%;
        height: 45vh;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {

}